.header_container {
  width: 60vh;
  height: 20vh;
  border: 1px solid red;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 33%;
}

.header_container div {
  width: 100%;
  height: 49%;
  font-weight: bold;
  font-size: 18px;
  color: black;
  border: 1px dotted red;
  display: flex;
  align-items: center;
}

.header_container div:last-child p:last-child {
  color: rgb(0, 183, 255);
  font-size: 28px;
}
